@font-face {
    font-family: 'SF-Medium';
    src: url(../fonts/SF-Medium.woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Regular';
    src: url(../fonts/SF-Regular.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Light';
    src: url(../fonts/SF-Light.woff);
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Habibi';
    src:  url(../fonts/Habibi.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Gwen';
    src: url(../fonts/GwenText-Trial-Book.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

