@media screen and (max-width: 767px) {
    .catalog__wrap .promo__title {
        font-size: 36px;
    }

    .menu {
        width: 70%;
    }

    .cart {
        width: 100%;
    }

    .catalog__wrap .promo__nav__content__list {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .catalog__wrap__content__cards {
        grid-template: 1fr / 48% 48%;
    }

    .footer__wrap {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .footer__wrap__nav {
        margin-top: 30px;
    }

    .footer__wrap__nav__content {
        flex-direction: column;
    }

    .footer__wrap__nav__content__right {
        margin-top: 10px;
    }

    .footer__wrap__menu {
        margin-top: 50px;
    }

    .footer__wrap__other__list {
        flex-direction: column;
    }

    .footer__wrap__other__list__item:not(:last-child) {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .footer__wrap__other {
        margin-top: 50px;
    }

    .product {
        padding-top: 120px;
    }

    .product__wrap__info__title {
        font-size: 24px;
    }

    .product__wrap__info__price {
        font-size: 28px;
    }

    .fashion__title {
        font-size: 22px;
    }

    .fashion__wrap {
        grid-template: 1fr/48% 48%;
    }

    .advantages__wrap {
        grid-template: 1fr / 100%;
    } 

    .order {
        flex-direction: column;
    }

    .order__info {
        order: 2;
        width: 100%;
        margin-top: 30px;
        padding-top: 50px;
        padding-bottom: 80px;
    }

    .order__cart {
        width: 100%;
        padding-top: 40px;
    }

    .header-order__wrap__title {
        font-size: 14px;
    }

    .order__cart__products__item__info__header__main__title {
        font-size: 16px;
    }

    .order__cart__products__item__info__header__price {
        font-size: 20px;
    }

    .order__cart__products__item__photo {
        width: 30%;
    }

    .order__cart__products__item__info {
        width: 65%;
    }

    .order__cart__price__sum__number {
        font-size: 20px;
    }

    .header-order__wrap__close {
        width: 18px;
        height: 18px;
    }
}